<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="text-center mt-5">
                <br>
                <span class="h2">Products</span>
                <hr>
                <table class="table table-responsive table-bordered mt-5">
                    <thead>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                    </thead>
                    {% for product in products %}
                        <tr>
                            <form class="form form-group" method="POST">
                                <td>
                                    <label class="form-group"type="number">{{ product.id }}</label>
                                    <input type="text" name="id" value="{{ product.id }}" hidden>
                                </td>
                                <td>
                                    <input class="form-group" name="name" type="text" value="{{ product.name }}">
                                </td>
                                <td>
                                    <input class="form-group" name="price" type="number" value="{{ product.price }}">
                                </td>
                                <td>
                                    <input type="submit" value="Delete" class="btn btn-danger" formaction="/delete_product">
                                </td>
                                <td>
                                    <input type="submit" value="Update" class="btn btn-default border-dark" formaction="/update_product">
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <hr>
            <div class="mt-5 text-center">
                <span class="h3">Insert New Product</span>
                <form action="/create_product" method="POST">
                    <table class="table table-bordered table-responsive mt-5">
                        <tr>
                            <td>
                                <label  class="form-group">Product Name:</label>
                                <input class="form-group" type="text" name="name" required placeholder="Enter Name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label  class="form-group">Product Price:</label>
                                <input class="form-group" type="number" name="price" required placeholder="Enter Price">
                            </td>
                        </tr>
                        <tr>
                            <td><input class="btn btn-block btn-success" type="submit" value="Create"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>